<!DOCTYPE html>

<title>Reclamation index</title>

{% block body %}
    <h1>Reclamation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type_reclamation_id</th>
                <th>Nom_client</th>
                <th>Prenom</th>
                <th>Tel</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Description</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.typereclamationId }}</td>
                <td>{{ reclamation.NomClient }}</td>
                <td>{{ reclamation.Prenom }}</td>
                <td>{{ reclamation.Tel }}</td>
                <td>{{ reclamation.adresse }}</td>
                <td>{{ reclamation.Email }}</td>
                <td>{{ reclamation.Description }}</td>
                <td>{{ reclamation.Etat }}</td>
                <td>
                    <a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}">show</a>
                    <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reclamation_new') }}">Create new</a>
{% endblock %}
